// HEADER




.header {
  border-bottom: 1px solid var(--bordes);
 


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 18rem;
    padding-bottom: 18rem;
  }
  &__logo {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24rem;
    line-height: 133%;
    color: var(--blanco);
  }
  &__nav {
    @include mobile {
      display: none;
    }
  }
  &__ul {
   
    display: flex;
    align-items: center;
    gap: 23rem;
    transition: 0.2s all ease-in-out;
  }

  &__a {
    font-weight: 500;
    font-size: 16rem;
    line-height: 100%;
    color: var(--blanco);

    position: relative;
  }

  &__a:hover::before,
  &__a.is-active::before {
    transform: scale(1);
  }

  &__a::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -7rem;
    transform: scale(0);
    transition: 0.2s all ease-in-out;
    background: var(--primario);
  }

  &__burger {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  &__burger .material-icons {
    font-size: 24rem;
    color: var(--blanco);
  }

  &__overlay{



  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  

  }
}












@include mobile {
 

    .header__ul {
      display: none; 
    }

    .header__burger {
      display: block; 
    }

  

    .header__ul {
      display: flex;
      flex-direction: column;
      gap: 20rem;
      margin-top: 200rem;
     
    }
    .header__overlay.active {
      display: block; 
    }

    .header__nav.active {
      display: block;
    }

    .header__nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); 
      transition: 0.2s all ease-in-out;
    
    }
   
  }
