.skills {
  margin-bottom: 128rem;
  @include tablet {
    margin-bottom: 64rem;
  }

  &__title {
    font-weight: 500;
    font-size: 34rem;
    line-height: 118%;
    letter-spacing: 0.01em;
    color: var(--blanco);
    text-align: center;
    margin-bottom: 60rem;

    @include tablet {
      margin-bottom: 32rem;
    }
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24rem;
    grid-row-gap: 24rem;
    max-width: 1440rem;
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
  }
  &__block {
    border-radius: 8rem;
    padding: 24rem;

    background: var(--rellenos);
  }
  &__block-title {
    margin-top: 10rem;
    font-weight: 500;
    font-size: 34rem;
    line-height: 118%;
    letter-spacing: 0.01em;
    color: var(--blanco);
  }
  &__block-desc {
    font-weight: 400;
    font-size: 16rem;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: var(--blanco);
    margin-top: 10rem;
  }
}
